.card{
    width: 200px;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.icon{
    font-size: 30px;
    width: fit-content;
}
.red{
    background-color: rgb(223, 58, 58);
}
.green{
    background-color: rgb(32, 228, 32);
}
.orange{
    background-color: rgb(241, 168, 33);
}
.blue{
    background-color: rgb(105, 180, 241);
}