


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card>
  <!-- child-card component -->
        <app-widget-card bg="blue"  total="1200" icon = "dashboard" desc="Dashboard"></app-widget-card>
  </mat-card>
  <mat-card>
   
        <app-widget-card bg="red" total="12" icon="home" desc="Institution"></app-widget-card>
  </mat-card>
  <mat-card>
   
        <app-widget-card bg="green" total="120" icon="person" desc="Students"></app-widget-card>
  </mat-card>
  <mat-card>
    
        <app-widget-card bg= "orange" total="100" icon="group" desc="Employee"></app-widget-card>
  </mat-card>
</div>
      


<!-- chart -->

<app-widget-chart></app-widget-chart>

<div fxLayout="row" fxLayoutAlign="space-evenly"fxLayoutGap="20px">
      <!-- table -->
      <div fxFlex="60">
            <app-widget-table></app-widget-table>
      </div>
      <!-- pie -->
     <div fxFlex="40"> 
      <app-widget-pipe></app-widget-pipe>
</div>

</div>    